<h4>Pets to take care of</h4>
<div class="container">
  <div class="row">
  <% @pet.each do |p| %>
    <div class="listImage">
      <p><%= p.name %></p>
      <p><%= p.gender %></p>
      <p><%= p.description %></p>
      <hr>
    </div>
  <% end %>
  </div>
</div>
