// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.searchButton {
    margin: auto;
    // border: 1px solid blue;
    margin-left: 40%;
    width: 10% !important;
    text-align: center;
    border-radius: 100%;
}

.listImage {
    width: 30% !important;
    display: inline-block;
    margin: 1em;

}

.listImage img {
    width: 200px;
    border-radius: 10px;
    border-width: medium;
    border-color: black;
    height: 200px;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}
