// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: white;
}

img {
    border-radius: 10px;

}

.btn-floating.btn-large {
    width: 150px;
    height: 30px;
}

.row_center {
    text-align: center;
}


.listImage {
    width: 30% !important;
    display: inline-block;
    margin: 1em;

}

.listImage img {
    width: 200px;
    border-radius: 10px;
    border-width: medium;
    border-color: black;
    height: 200px;
}

