// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: white;
}

img {
    border-radius: 10px;

}

.btn-floating.btn-large {
    width: 150px;
    height: 30px;
}

.row_center {
    text-align: center;
}

// .container {
//     position: absolute;
//     top: 300px;
//     left: 15%;
//     width: 25%;
// }
