<h4>Available PetSitters</h4>
<div>
  <div>

  <% @users.each do |user| %>
    <div class="listImage">
      <% if user.image %>
        <%= link_to(image_tag(user.image), user_path(user)) %>
      <% else %>
        <%= link_to(user.name, user_path(user)) %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
