<h4>Available PetSitters</h4>
<div>
  <div>
  <% @users.each do |user| %>
    <div class="listImage">
      <%= link_to(image_tag(user.image), user_path(user)) %>
    </div>
  <% end %>
  </div>
</div>
